/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
body {
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    font-family: 'JetBrains Mono', monospace;
    background-image: url("./assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;

}

#root {

    width: 100%;
    height: 100%;
}

#contentWrapper {
  display:flex;
    
}


/* Global custom styles */

.neo {
    box-shadow: -3px -3px 5px #1F1F1F,
        3px 3px 5px #000000c7 !important;
}

.difBall {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  /* Global scrollbar styling */

  ::-webkit-scrollbar {
    overflow: hidden;
    border-radius: 15px;
    width: 5px;
 
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
  }

  ::-webkit-scrollbar-thumb {
    background: #000000c7;
  }


  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  @keyframes fadeIn{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }
  @keyframes slideIn{
    from{
      left:100%;
    }
    to{
      left:0;
    }
  }